.main-container {
    padding-bottom: 20px;
}

.jumbotron {
    background-color: darkblue;
    color: blanchedalmond;
    font-weight: bold;
    text-align:center;
}

.card-body {
    background-color: white;
    border-radius: 15px;
    border: 4px; color: black;
}

#current-date {
    font-size: larger;
    font-weight: bold;
}

.row-blue {
    background-color: rgb(240, 252, 252);
    padding-left: 20px;
}

#cbforecast {
    margin: 20px;
}
